.ProseMirror {
    border: none !important;
}
.ProseMirror:focus {
    outline: none;
}  

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

.tiptap {
    :first-child {
      margin-top: 0;
    }


    p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
    /* List styles */
    ul, 
    ol {
      padding: 0 1rem;
      list-style: disc !important;
      margin: 1.25rem 1rem 1.25rem 0.4rem;
      
      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  
    /* Heading styles */
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
      line-height: 1.1;
      margin-top: 2.5rem;
      text-wrap: pretty;
    }
  
    h1, 
    h2 {
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
    }
  
    h1 { 
      font-size: 1.4rem; 
    }
  
    h2 { 
      font-size: 1.2rem; 
    }
  
    h3 { 
      font-size: 1.1rem; 
    }
  
    h4, 
    h5, 
    h6 { 
      font-size: 1rem; 
    }


    code {
        font-size: 0.7rem;
        padding: 0.25em;
        border-radius: 0.25em;
        background-color: #1e2127;
        color: #ea580c;
        box-decoration-break: clone;
        font-family: 'JetBrainsMono', monospace;
      }
    
      blockquote {
        padding-left: 1rem;
        // border-left: 5px solid rgba(#ffa116, 0.5);
        font-family: 'JetBrainsMono', monospace;
        font-size: 0.85rem;
        // padding: 0.25em 0.3em;
      }
    
      pre {
        white-space: pre-wrap; /* Allow line breaks */
  word-wrap: break-word; /* Break long words */
  overflow-wrap: anywhere; /* Break at any character if necessary */
  
        background: #1e2127;
        color: #fff;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #292a32;
    
        code {
          color: inherit;
          padding: 0;
          background: none;
          font-size: 0.8rem;
        }
    
        .hljs-comment,
        .hljs-quote {
          color: #616161;
        }
    
        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
          color: #f98181;
        }
    
        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
          color: #e85a42;
        }
    
        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
          color: #92db70;
        }
    
        .hljs-title,
        .hljs-section {
          color: #f4dd69;
        }
    
        .hljs-keyword,
        .hljs-selector-tag {
          color: #c64cec;
        }
    
        .hljs-emphasis {
          font-style: italic;
        }
    
        .hljs-strong {
          font-weight: 700;
        }
      }
    
    
    
}